@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  overflow: hidden;
  margin: 0;
  text-align: center;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
small {
  display: block;
  text-align: center;
  margin: 10px 0 30px;
}
.fa-heart {
  color: red;
}
.love-me {
  width: 300px;
  height: 440px;
  background: url("https://images.unsplash.com/photo-1504215680853-026ed2a45def?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiojEyMDd9&auto=format&fit=crop&w=334&q=80")
    no-repeat center center/cover;
  margin: auto;
  max-width: 100%;
  cursor: pointer;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.love-me .fa-heart {
  position: absolute;
  animation: grow 0.4s linear;
  transform: translate(-50%, -50%) scale(0);
}
@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(5);
    opacity: 0;
  }
}
